@font-face{
    font-family:ng;
    src:url(NanumMyeongjo.eot);
<<<<<<< HEAD
    src:local(※), url(NanumMyengjo.woff) format(‘woff’)
}
@font-face{
   font-family:ngo;
    src:url(NanumGothic.eot);
    src:local(※), url(NanumGothic.woff) format(‘woff’)
}
@font-face{
    font-family:ngo;
    src:url(NanumGothic.eot);
    src:local(※), url(NanumGothic.woff) format(‘woff’)
}

html {
  background: #f7f7f7;
}

body {
    font-family:'나눔명조', 'NanumMyeongjo', ng;  
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #2d2d2d;
    background: #f7f7f7;
}
body.fh5co-overflow {
  overflow-x: auto;
}

::-webkit-selection {
  color: #fff;
  background: #f9ad81;
}

::-moz-selection {
  color: #fff;
  background: #f9ad81;
}

::selection {
  color: #fff;
  background: #f9ad81;
}

a {
  color: black;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:focus, a:active {
  color: black;
  outline: none;
  text-decoration: none;
}

h1, h3, h4,h5 h6 {
  font-family:'나눔명조', 'NanumMyeongjo', ng;
  color: #000;
}
h2 {
   font-family:'나눔명조', 'NanumMyeongjo', ng;
  color: #000;
    font-weight: 800;
}


p {
  margin-bottom: 30px;
}



.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #71d2db;
}

#fh5co-header {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 999;
  background: transparent;
  padding: 15px 0;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #fh5co-header {
      font-family:'나눔명조', 'NanumMyeongjo', ng;
    background: #fff;
    top: 0;
  }
}
#fh5co-header #fh5co-logo {
    font-family:'나눔명조', 'NanumMyeongjo', ng;
  float: left;
  line-height: 1.2;
  position: relative;
}
@media screen and (max-width: 768px) {
  #fh5co-header #fh5co-logo {
    top: -2px;
    
  }
}
#fh5co-header #fh5co-logo a {
  font-family:'나눔명조', 'NanumMyeongjo', ng;
  font-size: 30px;
    font-weight: 900;
     color: #fff;
 
}
@media screen and (max-width: 768px) {
  #fh5co-header #fh5co-logo a {
    color: #000;
  }
}
#fh5co-header #fh5co-main-nav {
    
  float: right;
}
@media screen and (max-width: 768px) {
  #fh5co-header #fh5co-main-nav {
    display: none;
      
  }
}
#fh5co-header #fh5co-main-nav ul {
  padding: 0;
  margin: 4px 0 0;
  
}
#fh5co-header #fh5co-main-nav ul li {
  padding: 0;
  margin: 0;
  display: inline;
}
#fh5co-header #fh5co-main-nav ul li a {
  font-family:'나눔명조', 'NanumMyeongjo', ng;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  margin-left: 30px;
  border-bottom: 2px solid transparent;
}
#fh5co-header #fh5co-main-nav ul li a:hover {
  text-decoration: none;
  color: #71d2db;
}
#fh5co-header #fh5co-main-nav ul li.active a {
  color: #fff;
 
}


#fh5co-header #fh5co-main-nav button {
    color: #56809e;
    background: #ffff;
    border: 3px solid #56809e;
    font-size: 14px;
    padding: 7px 12px;
    font-weight: bold;
    margin:  6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    min-width: 100px;
    border-radius: 60px;
    text-align: center;
    margin-left: 30px;
}

#fh5co-header #fh5co-main-nav button :hover, #fh5co-header #fh5co-main-nav button:active {
  color:#fff;
  background:#4b82a8;
}



#fh5co-header.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0px;
}
#fh5co-header.navbar-fixed-top #fh5co-logo {
    
  float: left;
  line-height: 1.2;
}
#fh5co-header.navbar-fixed-top #fh5co-logo a {
font-family:'나눔명조', 'NanumMyeongjo', ng;  
    font-size: 30px;
    font-weight: 800;
  color: #000;
}
#fh5co-header.navbar-fixed-top #fh5co-main-nav ul li a {
  font-family:'나눔명조', 'NanumMyeongjo', ng;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  margin-left: 30px;
  border-bottom: 2px solid transparent;
    font-weight: 600;
}
#fh5co-header.navbar-fixed-top #fh5co-main-nav ul li a:hover {
  text-decoration: none;
  color: #71d2db;
}
#fh5co-header.navbar-fixed-top #fh5co-main-nav ul li.active a {
  color: #71d2db;
  border-bottom: 2px solid transparent;
}

/*
 * Flexslider
 */
#fh5co-home {
  min-height: 700px;
  background: #fff url(../images/loader.gif) no-repeat center center;
}
#fh5co-home .flexslider {
  border: none;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}
#fh5co-home .flexslider .fh5co-text {
font-family:'나눔명조', 'NanumMyeongjo', ng;
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 40%;
  margin-top: -129px;
  text-align: center;
}
#fh5co-home .flexslider .fh5co-text h1 {
  margin: 0 10 30px 0;
  padding: 0;
font-family:'나눔명조', 'NanumMyeongjo', ng;
    font-size: 70px;
  font-weight: 600;
  color: #fff;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  border: 6px solid #fff;
  padding: 30px 50px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-home .flexslider .fh5co-text h4 {
  font-family:'나눔명조', 'NanumMyeongjo', ng;
font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  display: block;
  position: relative;
  padding-bottom: 30px;
    
}


@media screen and (max-width: 992px) {
  #fh5co-home .flexslider .fh5co-text h1 {
    font-size: 30px;
  }
}
#fh5co-home .flexslider .fh5co-text .fh5co-go {
  margin-top: 30px;
}
#fh5co-home .flexslider .fh5co-text .fh5co-go a {
font-family:'나눔명조', 'NanumMyeongjo', ng;
font-size: 14px;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  display: block;
  position: relative;
  padding-bottom: 50px;
}

#fh5co-home .flexslider .fh5co-text .fh5co-go a span {
  font-size: 20px;
  display: block;
  position: absolute;
  bototm: 0;
  left: 50%;
  margin-left: -10px;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}
#fh5co-home .flexslider .fh5co-text .fh5co-go a:hover {
  text-decoration: none;
}
#fh5co-home .flexslider .fh5co-text .fh5co-go a:hover span {
  text-decoration: none;
}
#fh5co-home .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
}
#fh5co-home .flexslider .fh5co-overlay {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .3;
  background: #444853;
}
#fh5co-home .flexslider .flex-control-nav,
#fh5co-home .flexslider .flex-direction-nav {
  display: none;
}

#fh5co-main,
#fh5co-offcanvas {
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

#fh5co-offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: 275px;
  background: #444853;
  overflow-y: auto;
  padding: 50px 30px 30px 30px;
  -moz-transform: translateX(275px);
  -webkit-transform: translateX(275px);
  -ms-transform: translateX(275px);
  -o-transform: translateX(275px);
  transform: translateX(275px);
}
#fh5co-offcanvas .fh5co-offcanvas-close {
  position: absolute;
  top: 20px;
  right: 30px;
}
#fh5co-offcanvas .fh5co-offcanvas-close:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e117";
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-offcanvas .fh5co-offcanvas-close:hover:before {
  color: white;
}
#fh5co-offcanvas nav ul {
  padding: 0;
  margin: 0;
}
#fh5co-offcanvas nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-offcanvas nav ul li a {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  padding: 7px 0;
}
#fh5co-offcanvas nav ul li a:hover {
  color: #f9ad81;
}
#fh5co-offcanvas nav ul li.active a {
  color: #f9ad81;
}
.offcanvas-visible #fh5co-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}



#fh5co-portfolio,
#fh5co-about,
#fh5co-contact,
#fh5co-testimony,
#fh5co-content 
#fh5co-mywriting{
  padding: 7em 0;
}
@media screen and (max-width: 768px) {
  #fh5co-portfolio,
  #fh5co-about,
  #fh5co-contact,
  #fh5co-testimony,
  #fh5co-content,
    #fh5co-mywriting{
    padding: 4em 0;
  }
}

#fh5co-content figure {
  margin-bottom: 30px;
}

/* Strat mywriting_count*/
   #fh5co-about .my_info {
       margin-top: 120px;
       margin-bottom: -100px;
   }
   
   #fh5co-about ul {
     position: relative;
     top: 60%;
     transform: translateY(-50%);
     width: 50%;
     margin: 0 auto;
     padding: 15px 0 20px 0;
     color: #fff;
     border: 0px solid #ffffff;
     border-width: 1px 0;
     overflow: hidden;
     font-family:'나눔명조', 'NanumMyeongjo', ng;
     font-weight: bold;
   }
   
   #fh5co-about ul li {
       margin: 0px 3px 0px 0;
       padding: 5px;
       display: inline-block;
       width: 22%;
       font-size: 32px;
       font-size: 2.5vw;
       text-align: center;
       font-family:'나눔명조', 'NanumMyeongjo', ng;
   }
       
   #fh5co-about li .label {
         color:ㅇ #adafb2;
         font-size: 12px;
         font-size: 0.8vw;
         text-transform: uppercase;    
   }
/* End mywriting_count*/

#fh5co-about {
  background: #444853;
}
#fh5co-about h2,h3,h4 {
  color: #fff;
}
#fh5co-about .fh5co-text {
  padding-left: 4em;
}
@media screen and (max-width: 992px) {
  #fh5co-about .fh5co-text {
    padding: 0 0 20px 0;
  }
}
#fh5co-about .fh5co-text .fh5co-meta {
  color: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
}
#fh5co-about .fh5co-text.with-plus {
  padding-right: 4em;
  padding-left: 0;
  position: relative;
}
@media screen and (max-width: 992px) {
  #fh5co-about .fh5co-text.with-plus {
    padding-right: 0;
  }
}
#fh5co-about .fh5co-text.with-plus:after {
  position: absolute;
  right: 0;
  margin-right: -30px;
  top: 50%;
  margin-top: -25px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e114";
  font-size: 50px;
  color: #f9ad81;
}
@media screen and (max-width: 992px) {
  #fh5co-about .fh5co-text.with-plus:after {
    display: none;
    visibility: hidden;
  }
}

#fh5co-testimony {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
}
#fh5co-testimony > .container {
  position: relative;
  z-index: 5;
}
#fh5co-testimony > .fh5co-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  opacity: .7;
  background: #444853;
}
#fh5co-testimony .flexslider {
  border: transparent !important;
  background: transparent !important;
}
#fh5co-testimony .flexslider .slides li {
  font-size: 40px;
  line-height: 1.5;
}
#fh5co-testimony .flexslider .slides li blockquote {
  padding-left: 0;
  border-left: none;
}
@media screen and (max-width: 768px) {
  #fh5co-testimony .flexslider .slides li blockquote {
    padding: 0 20px;
  }
}
#fh5co-testimony .flexslider .slides li blockquote p {
  font-size: 40px;
  line-height: 1.5;
  font-family: "Roboto Slab", sans-serif;
  color: white !important;
}
@media screen and (max-width: 768px) {
  #fh5co-testimony .flexslider .slides li blockquote p {
    font-size: 20px;
    line-height: 1.5;
  }
}
#fh5co-testimony .flexslider .slides li blockquote p cite {
  display: block;
  padding-top: 20px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
}
#fh5co-testimony .flexslider .flex-control-paging {
  position: relative;
}
#fh5co-testimony .flexslider .flex-control-paging.flex-control-nav {
  bottom: -70px;
}
@media screen and (max-width: 768px) {
  #fh5co-testimony .flexslider .flex-control-paging.flex-control-nav {
    bottom: -60px;
  }
}
#fh5co-testimony .flexslider .flex-control-paging li a {
  width: 14px;
  height: 14px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  border: 2px solid transparent;
}
#fh5co-testimony .flexslider .flex-control-paging li a:active, #fh5co-testimony .flexslider .flex-control-paging li a:focus {
  outline: none;
}
#fh5co-testimony .flexslider .flex-control-paging li a.flex-active {
  position: relative;
  background: transparent;
  box-shadow: none;
  border: 2px solid #f9ad81;
}

#fh5co-footer {
  background: #ececec;
  padding: 4em 0;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  #fh5co-footer {
    padding: 3em 0;
  }
}
#fh5co-footer a {
  color: #f67d38;
}
#fh5co-footer a:hover {
  text-decoration: underline;
}
#fh5co-footer p {
  margin-bottom: 10px;
}
#fh5co-footer .fh5co-footer-widget {
  margin-bottom: 30px;
  float: left;
  width: 100%;
}

.fh5co-social {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .fh5co-social {
    float: none !important;
  }
}
.fh5co-social li {
  padding: 0;
  margin: 0;
  display: inline;
}
.fh5co-social li a {
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .fh5co-social li a {
    margin-right: 10px;
  }
}
.fh5co-social li a i {
  font-size: 20px;
}
.fh5co-social li a:hover {
  text-decoration: none !important;
}
.fh5co-social li a:hover i {
  text-decoration: none;
}

.img-grid {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .img-grid {
    margin-bottom: 15px;
  }
}
.img-grid img {
  position: relative;
  z-index: 10;
}
.img-grid a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 12;
  background: rgba(68, 72, 83, 0.9);
  text-align: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.img-grid a > div {
  position: absolute;
  bottom: -20px;
  left: 0;
  text-align: center;
  width: 100%;
  -webkit-transition: 0.8s, ease-out;
  -o-transition: 0.8s, ease-out;
  transition: 0.8s, ease-out;
}
.img-grid a .fh5co-title {
  font-size: 18px;
  color: #fff;
  padding: 0;
  position: relative;
}
.img-grid a .fh5co-meta {
  color: rgba(255, 255, 255, 0.4);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 2px;
  display: block;
  position: relative;
  padding-bottom: 7px;
  text-transform: uppercase;
}
.img-grid a .fh5co-meta:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 20px;
  margin-left: -10px;
  height: 2px;
  left: 50%;
  background: #f9ad81;
}
.img-grid:hover > a {
  opacity: 1;
}
.img-grid:hover > a > div {
  bottom: 20px;
}

.section-heading .fh5co-section-title {
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #41454f;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  opacity: .4;
  margin-bottom: 20px;
}

.fh5co-lead {
  font-size: 16px;
    font-weight: 600
}
@media screen and (max-width: 768px) {
  .fh5co-lead {
    font-size: 20px;
  }
}

.js .to-animate, .js
.to-animate-2, .js
.animate-box {
  opacity: 0;
}

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #f9ad81;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 3px;
  color: #535659;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #535659;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #535659;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  top: 8px;
  right: 15px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 25px;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
  .offcanvas-visible .fh5co-nav-toggle {
    z-index: 999999 !important;
  }
}

.fh5co-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.r-pb {
  padding-bottom: 40px;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    width: 100%;
    float: none;
  }
}
/* Arrow Animations */
@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacisy: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
=======
    src:local(※), url(NanumGothic.woff) format(‘woff’)
}

a {
	text-decoration: none;
}
ul {
	padding-left: 0;
}
li {
	list-style: none;
}
* {
	box-sizing: border-box;
}



body {
    font-family:'나눔명조', 'NanumMyeongjo', ng;
	/*font-family: 'Montserrat', Arial, serif;*/
}
::selection {
	background-color: #EBEBF2;
	color: #83828D;
}


/* ==================================== */
/*		  	  Navigaton Menu		
/* ==================================== */

.menu-wrap {
	background-color: #ECECEC;
	position: fixed;
	top: 0;
	height: 100%;
	width: 280px;
	margin-left: -280px;
	font-size: 1em;
	font-weight: 300;
	overflow: auto;
	transition: .25s;
	z-index: 10;
}
.menu-show {
	margin-left: 0;
	box-shadow: 4px 2px 10px 1px #B9ADAD;
}
.menu-sidebar {
	margin: 75px 0 80px 10px;
	position: relative;
	top: 70px;
}
.menu-sidebar li {
	padding: 18px 22px 0;
}
.menu-sidebar li > a {
	color: #242424;
	font-size: 1.00em;
	position: relative;
}
.menu-sidebar li > a::after {
	content: "";
	display: block;
	height: 0.15em;
	position: absolute;
	top: 100%;
	width: 100%;
	left: 50%;
	transform: translate(-50%);
	background-image: linear-gradient(to right, transparent 50.3%, #FFFA3B 50.3%);
	transition: background-position .2s .1s ease-out;
	background-size: 200% auto;
}
.menu-sidebar li > a:hover::after {
	background-position: -100% 0;
}
.menu-sidebar .menu-item-has-children {
	position: relative;
}
.menu-sidebar .menu-item-has-children .sub-menu {
	display: none;
}
.sidebar-menu-arrow::after {
	content: "\f107";
	font-family: 'FontAwesome';
	padding: 10px;
	color: #555;
	position: relative;
}
.sidebar-menu-arrow:hover::after {
	cursor: pointer;
	color: #fff;
}
.sidebar-menu-arrow:active::after {
	top: 2px;
}


/*Hamburger Button*/
.toggle-button {
	position: fixed;
	width: 35px;
	height: 40px;
	top: 30px;
	left: 40px;
	padding: 4px;
	transition: .25s;
	z-index: 15;
}
.toggle-button:hover {
	cursor: pointer;
}
.toggle-button .menu-bar {
	position: absolute;
	border-radius: 2px;
	width: 80%;
	transition: .5s;
}
.toggle-button .menu-bar-top {
	border: 4px solid #555;
	border-bottom: none;
	top: 0;
}
.toggle-button .menu-bar-middle {
	height: 4px;
	background-color: #555;
	margin-top: 7px;
	margin-bottom: 7px;
	top: 4px;
}
.toggle-button .menu-bar-bottom {
	border: 4px solid #555;
	border-top: none;
	top: 22px;
}
.button-open {
	left: 35px;
}
.button-open .menu-bar-top {
	border-color: #555;
	transform: rotate(45deg) translate(8px, 8px);
	transition: .5s;
}
.button-open .menu-bar-middle {
	background-color: #555;
	transform: translate(230px);
	transition: .1s ease-in;
	opacity: 0;
}
.button-open .menu-bar-bottom {
	border-color: #555;
	transform: rotate(-45deg) translate(7px, -7px);
	transition: .5s;
}



/* Text Block */
.wrapper {
	width: 40%;
	margin: 130px auto 0;
	color: #242424;
}
.wrapper .text {
	padding: 30px;
}
.wrapper .text .heading {
	margin-bottom: 40px;
	font-size: 4em;
}
.wrapper .text p {
	line-height: 1.7em;
}
.wrapper .text .buttons {
	margin-top: 40px;
}


/* List */
.list {

	width: 100%;
	margin: 130px auto 0;
	color: #242424;
    background-color: #ececec;
}
.list .text {
	padding: 30px;
}
.list .text .heading {
	margin-bottom: 40px;
	font-size: 4em;
}

.list .text .buttons {
	margin-top: 40px;
}

#navigation {
  position: fixed;
  top: -96px;
   left: 0; right: 0;
  width: 100%;
  height: 90px;
  background-color: #fff;
  box-shadow: 0px 3px 3px 0px rgba(21, 21, 21, 0.1);
    text-align: center;
/*      
#
#Edit these to change CSS transition delay, speed, and type 
#
*/
  transition: top .25s ease .5s;
}

#navigation p {
  text-align: center;
  color: #fff;
}


/* upper bar*/

#navigation .heading{
    color: #242424;
    font-size: 2.5em;
    font-weight: 600;
    padding-top: 10px;
}
#navigation .text{
    color: #9b9b9b;
    font-size: 0.9em;
    font-weight: 300;
>>>>>>> origin/master
}

.writingModalPopup img {
    font-size: 18px;
    background: none;
    width: 60px;
    height: auto;
    border: 0px;
}



<<<<<<< HEAD
.ghost-button {
    color: #56809e;
    background: #ffff;
    border: 3px solid #56809e;
    font-size: 14px;
    padding: 7px 12px;
    font-weight: bold;
    margin:  6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    min-width: 100px;
    border-radius: 60px;
    text-align: center;
    margin-left: 30px;
}

.ghost-button:hover, .ghost-button:active {
  color:#fff;
  background:#4b82a8;
}


/*# sourceMappingURL=style.css.map */
=======

>>>>>>> origin/master
