@CHARSET "EUC-KR";
/****************************************************/
/*                                                  */
/*   Basic StyleSheet of Modal is in writingModal   */
/*                                                  */
/****************************************************/

/* Start 3 Buttons */
.btn_like {
    background: white;
    border: 0px white solid;
    font-size: 14px;
    margin-top: -5px;
    margin-left: 10px;
    padding: 10px;
}

.btn_clip {
    background: white;
    border: 0px white solid;
    font-size: 14px;
    margin-top: -5px;
    margin-right: 10px;
    padding: 10px;

}

.btn_share {
    background: white;
    border: 0px white solid;
    font-size: 14px;
    margin-top: -5px;
    margin-right: 10px;
    padding: 10px;

}
